body {
  font-family: Georgia, serif;
  background-image: url("https://github.com/lucydelash/BookBuddy/blob/main/Unit3.BookBuddy.Starter/src/components/wp12444336.jpg?raw=true");
  background-size: cover;
  margin: 0;
  padding: 0;
}

#logo-image {
  width: 70px;
  margin-right: 10px;
}

h1 {
  display: flex;
  justify-content: center;
  font-family: cursive;
  font-size: 60px;
  margin-top: 60px;
}

p {
  font-family: cursive;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;
  font-size: large;
  font-family: cursive;
}

label {
  display: flex;
  justify-content: center;
  font-family: cursive;  
}

h2 {
  display: flex;
  justify-content: center;
  font-family: cursive;
  padding: 5px;
  margin: 10px; 
}

button {
  display: flex;
  justify-content: center;
  font-family: cursive;
  font-size: larger;
  padding: 5px;
  margin: 10px;
  border-radius: 50%;
  width: 100px;
}

button:hover {
  background-color: blueviolet;
}

.login {
  display: flex;
  justify-content: center;
}